.home-container {
    background-image: url('../../../../public/images/main-bg.jpg');
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    color: #fff;
    position: relative;
    margin-left: 250px;
}

.row {
    margin: 20px auto;
    width: 95%;
    height: 327px;
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-between;
}

.season-box {
    width: 630px;
    min-height: 250px;
    background: #009fc78c;
    padding: 10px;
    position: relative;
}

.season-description {
    /* width: 580px; */
    /* border: 2px solid blue; */
    text-shadow: -1px 1px 2px #000,
        1px 3px 2px #000,
        1px -1px 0 #000,
        -1px -1px 0 #000;
    color: #fff;
    font-family: 'Brady Bunch Remastered';
    font-size: 20px;
    padding-left: 10px;
}

.season-heading {
    font-size: 48px;
    text-shadow: -1px 1px 2px #000,
        1px 3px 2px #000,
        1px -1px 0 #000,
        -1px -1px 0 #000;
    color: #fff;
    font-family: 'Acme';
    text-transform: uppercase;
    font-weight: normal;
}

.btn {
    display: flex;
    width: 217px;
    height: 76px;
    /* border: 2px solid red; */
    background-image: url('../../../../public/images/Portal_btnGreen.png');
    background-position: 0 0;
    background-size: cover;
    position: absolute;
    right: 70px;
    bottom: 10px;
    text-decoration: none;
    color: #fff;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    text-transform: uppercase;
    text-shadow: -1px 1px 2px #000,
        1px 3px 2px #000,
        1px -1px 0 #000,
        -1px -1px 0 #000;
    font-family: 'Brady Bunch Remastered';

}

.blog-row {
    width: 95%;
    height: 240px;
    /* border: 2px solid red; */
    /* background: rgba(0, 0, 0, 0.8); */
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    /* padding: 10px; */
}

.heading-btn-container {
    position: absolute;
    top: 5px;
    width: 550px;
    /* background-color: aqua; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.latest-blogs-heading {
    font-family: 'Brady Bunch Remastered';
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    color: white;
    text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
}

.read-more-btn-container {
    width: 145px;
    height: 40px;
    position: relative;
}

.readmore-btn-img {
    width: 100%;
    height: 100%;
    position: absolute;
}

.read-more-btntext {
    text-shadow: -1px 1px 2px #000,
        1px 3px 2px #000,
        1px -1px 0 #000,
        -1px -1px 0 #000;
    color: #fff;
    font-family: 'Brady Bunch Remastered';
    font-size: 27px;
    text-transform: uppercase;
    position: absolute;
    bottom: 5px;
    left: 24px;
    text-decoration: none;
}

/* Mobile Responsiveness */

@media screen and (max-height:400px) {
    .home-container{
        min-height: 700px;
    }
    .latest-blogs-heading{
        width: 380px;
    }
}

@media screen and (max-width:580px) {
    .home-container {
        overflow-x: scroll;
        min-height: 750px;
    }

}

@media screen and (max-width:580px) {
    .heading-btn-container {
        top: -38px !important;
    }

    .latest-blogs-heading {
        width: 185px !important;
    }

    .season-box {
        height: 330px !important;
    }

    .btn {
        bottom: 12px !important;
    }
}


@media screen and (max-width:800px) {
    .home-container {
        margin: 0 !important;
    }

    .row {
        flex-direction: column;
    }

    .season-box {
        width: 100%;
        height: 300px;
    }

    .season-heading {
        font-size: 28px;
    }

    .character-container {
        display: none;
    }

    .heading-btn-container {
        /* flex-direction: column; */
        align-items: center;
        width: 100%;
        top: -20px;
    }

    .latest-blogs-heading {
        display: block;
        width: 180px;
        /* background: #000; */
    }

    .left-arrow-container {
        left: -15px !important;
    }

    .right-arrow-container {
        right: 5px !important;
    }

    .blog-container {
        margin-left: 8px;
    }

    .btn {
        left: 10px;
        width: 210px;
        height: 70px;
        bottom: 25px;
    }
}

@media screen and (max-width:1100px) {

    .home-container{
        margin-left: 245px;
    }
}

@media screen and (min-width:1440px) {
    .home-container{
        margin-left: 315px;
    }
}