.nav-bar{
    /* border: 2px solid red; */
    /* min-height: 250px; */
}
.nav-links-container{
    display: flex;
    flex-direction: column;
    
}
.nav-links-container li{
    font-family: 'Brady Bunch Remastered';
    color: #fff;
	font-size: 20px;
	text-shadow: -1px 1px 2px #000,
				  1px 3px 2px #000,
				  1px -1px 0 #000,
				  -1px -1px 0 #000;
    margin-top: 5px;
}

/* Responsiveness */

@media screen and(min-width:900px) {
    .nav-links-container li{
        margin: 5px 0px;
    }
}
@media screen and(min-width:1440px) {
    .nav-links-container li{
        margin: 10px 0px;
    }
}