.meetHeroes-container {
    background-image: url('../../../../public/images/pages-bg.jpg');
    /* background: #00a0c7; */
    width: 100%;
    min-height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
    width: 100%;
    height: 100%;
    color: #fff;
    position: relative;
    margin-left: 250px;
    overflow: auto;

}

.page-title {
    text-shadow: -1px 1px 2px #000,
        1px 3px 2px #000,
        1px -1px 0 #000,
        -1px -1px 0 #000;
    color: #fff;
    font-family: 'Acme';
    font-size: 40px;
    text-transform: uppercase;
    padding: 20px 30px;
}

.meetHeroes-main-img {
    width: 80%;
    margin: 0 auto;
    display: block;
}

.heroes-data-container {
    width: 90%;
    min-height: 500px;
    margin: 30px auto 50px auto;
    background: #fff;
    /* border: 2px solid red; */
    position: relative;
    padding-top: 30px;
    border-radius: 1px;
    box-shadow: 5px 10px 2px 0px black;
    border: 3px solid black;
}

.heroes-name-container {
    width: 100%;
    min-height: 40px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    top: -170px;
}

.heroes-name-container li {
    text-shadow: -2px 2px 2px #000,
        2px 1px 2px #000,
        1px -1px 0 #000,
        -2px -1px 0 #000;
    background: #FF8500;
    width: 130px;
    color: #fff;
    font-family: 'Acme';
    font-size: 20px;
    margin: 3px;
    text-align: center;
    text-transform: capitalize;
    height: 25px;

}

.heroes-name-container li:nth-child(13n) {
    width: 200px;
}

.heroes-name-container li:nth-child(14n) {
    width: 200px;
}

.heroes-name-container li:nth-child(16n) {
    width: 300px;
}

.heroes-name-container li:nth-child(21n) {
    width: 250px;
}

.heroes-img-collection {
    width: 100%;
    /* background: #000; */
}

.heroes-video {
    /* background: #000; */
    width: 91%;
    height: 450px;
    margin: 50px auto;
}

.meetheroes-slider-right-arrow {
    right: -28px;
}

/* New Style */

.heroName-container{
    width: 80%;
    max-height: 200px;
    /* background: #000; */
    margin: 10px auto 0px auto;
    /* display: flex; */
}
.heroName{
    /* text-shadow: -2px 2px 2px #000,
        2px 1px 2px #000,
        1px -1px 0 #000,
        -2px -1px 0 #000; */
    color: #fff;
    font-family: 'Acme';
    font-size: 25px;
    margin: 5px;
    text-align: center;
    text-transform: capitalize;
    cursor: pointer;

}



/* Mobile Responsive */
@media screen and (max-width:800px) {
    .meetHeroes-container {
        margin: 0 !important;
    }

    .meetHeroes-main-img {
        width: 90%;
    }

    .heroes-data-container {
        width: 95%;
        margin: 30px auto 30px auto;
        min-height: 400px;
    }

    .heroes-video {
        height: 195px;
    }

    .page-title {
        text-align: center;
        font-size: 30px;
    }
}

@media screen and (max-width:1100px) {

    .meetHeroes-container {
        margin-left: 245px;
    }

    .heroes-name-container li {
        display: flex;

    }
}

@media screen and (min-width:1440px) {
    .meetHeroes-container {
        margin-left: 315px;
    }
}